@import url('https://fonts.googleapis.com/css2?&family=Outfit:wght@100..900');

:root {
    --main-color: #eac92c;
    --img-bg: #1f1f1f;
    --input_bg: #E5E5E5;
    --white-color: #ffffff;
    --black-color: #000000;
}

body {
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}

ul,
ol {
    margin: 0%;
    padding: 0%;
}

li {
    list-style: none;
}

p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}

/* .triggle-modal-btn {
    color: #32854A !important;
    font-size: 13px;
    background-color: #EAF3EC !important;
    border: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
} */

.dash-right-bottom .table-bordered .triggle-modal-btn {
    color: #32854A !important;
    font-size: 13px;
    background-color: #EAF3EC !important;
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.model-form-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.CheckBox-Content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
}

button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px var(--white-color);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}



.offcanvas-header .btn-close {
    position: absolute;
    left: -35px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    color: #000;
    opacity: 1;
    border-radius: 0%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.offcanvas-header .btn-close:focus {
    box-shadow: none;
}

.offcanvas-end {
    width: 70%;
    background: #f6f6f6;
}

.offcanvas-body {
    margin-top: -30px;
    overflow-x: hidden;
    padding: 0%;
}

.off-side-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.off-side-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

.off-side-nav {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    height: 100%;
    padding: 0px 20px;
    background: #fff;
    position: fixed;
    top: 0%;
    overflow: auto;
    width: 295px;
}

.off-side-list {
    /* max-height: 100vh; */
    min-height: 100vh;
    height: 100%;
}

.list-container {
    padding: 20px 10px;
    background: #f6f6f6;
    margin: 0px 0px 12px;
    border-radius: 10px;
}

.list-container h5 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

.side-nav-list li>* {
    list-style: none;
    text-decoration: none;
}

.side-nav-list li .side-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
    list-style: none;
    margin-bottom: 8px;
    color: #494948;
    transition: all ease-in-out 0.5s;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    border-radius: 10px;
}

/* .side-nav-list li .side-link span:hover {
    color: var(--main-color);

} */

.side-nav-list li .side-link.side-current {
    background: var(--main-color);
    color: var(--black-color);
}

.off-input-box {
    margin-bottom: 10px;
}

.off-input-box label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.off-side-btns {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ctd-del-btn {
    background: transparent;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.ctd-btn {
    background: var(--main-color);
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    transition: all ease-in-out 0.5s;
    padding: 8px 16px;
}

.ctd-btn:hover {
    background: transparent;
    border: 1px solid var(--main-color);

}

.off-right-wrapper {
    background: #fff;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 15px;
    width: calc(100% - 295px);
    margin-left: 305px;
}

.off-right-wrapper .off-tab {
    border: 1px solid #A7A49A;
    border-radius: 0px;
}

.off-right-wrapper .off-tab ul.nav {
    border: none;
    border-bottom: 1px solid #A7A49A;
    border-radius: 0px;
}

.off-right-wrapper .off-tab ul li button {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.activity-content {
    padding: 10px;
}

.icons {
    font-size: 18px;
}

.icons-list {
    border: 1px solid #A7A49A;
    display: flex;
    align-items: center;
    width: max-content;
    margin: 10px 0px;
    border-radius: 5px;
}

.icons-list li {
    padding: 10px;
    border-right: 1px solid #A7A49A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-list li:last-child {
    border-right: none;
}

.act-icons {
    font-size: 20px;
    color: #494948;
}

.icon-current {
    background: var(--main-color);
}

.activity-title {
    border: 1px solid #A7A49A;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    color: #000;
}

.activity-box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.time-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.time-input input:focus {
    box-shadow: none;
}

.select-container .form-select:focus {
    box-shadow: none;
}

.activity-icons {
    font-size: 24px;
}

.focus-wrapper {
    width: 100%;
    padding-left: 10px;
}

.focus-box {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.focus-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.activityF-icons {
    margin-top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.9);
    padding: 5px;
}

.focus-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 10px;
}

.focus-tags {
    display: flex;
    align-items: center;
    gap: 10px;
}

.focus-tags li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.focus-tags li::after {
    content: '';
    position: relative;
    --ehw-len: 5px;
    width: var(--ehw-len);
    height: var(--ehw-len);
    background: #494948;
    border-radius: 50%;
    display: block;
}

.focus-tags li:last-child:after {
    display: none;
}

.focus-tags li>p {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
}

.overdue,
.completed,
.hold {
    text-transform: uppercase;
    color: var(--white-color);
    padding: 3px 5px;
    border-radius: 10px;
}

.overdue {
    background: #CC3E3E;
}

.completed {
    background: #32854A;
}

.hold {
    background: #CC983E;
}

.focus-msg {
    margin: 10px 0px;
    padding: 10px;
    background: var(--main-color);
    border-radius: 5px;
}

.focus-msg>p {
    margin-bottom: 0px;
}

.focus-heading {
    font-size: 24px;
}

.notes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.editor {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #A7A49A;
    border-radius: 5px;
}

.editor:focus {
    /* border: none; */
    outline: none;
    box-shadow: none;
}

.preview {
    width: 400px;
}

.preview h2 {
    margin-bottom: 10px;
}

.preview p {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
    overflow-y: auto;
}


/* Placeholder Loader */


.loader {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-gray {
    background-color: rgba(0, 0, 0, 0.2);
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
    }
}

.date-picker-input {
    border: 1px solid #e3e2d8;
    border-radius: 5px;
    padding-left: 10px;
}

/* .react-datepicker__calendar-icon {
    margin-top: 10px;
} */
.icon-details {
    font-size: 20px;
    fill: #eac92c;
}

.searchable {
    width: 100%;
    position: relative;
}

.searchable-list {
    position: absolute;
    width: 100%;
    background-color: #f6f6f6;
    z-index: 10;
    border: 1px solid #ced4da;
}

.searchable-list li {
    cursor: pointer;
    padding: 10px;
    transition: all ease-in-out 0.3s;
}

.searchable-list li:hover {
    background-color: var(--main-color);
}

.form-cancel-btn {
    background-color: #E6E6E6;
    color: #000;
    border-radius: 10px;

}

.form-save-btn {
    background-color: var(--main-color);
    color: #000;
    border-radius: 10px;

}

.table-responsive {
    padding: 5px;
}

.table> :not(caption)>*>* {
    padding: .5rem .5rem;
    font-size: 13px;
}

.lft-title {
    font-size: 18px;
    font-weight: 500;
    color: #9B9B9B;
}

.cate-bx {
    margin: 15px 0 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.cate-bx ul {
    margin: 0;
    padding: 0;
}

.cate-bx ul li {
    float: none;
    font-size: 16px;
    font-weight: 400;
    color: #36342E;
    margin: 0 0 12px;
    display: flex;
    align-items: center;
}

.cate-bx ul li:last-child {
    margin: 0;
}

.cate-bx ul li svg {
    margin-right: 8px;
}

.table-responsive label {
    font-size: 14px;
}

.table-responsive .table tr td {
    font-size: 14px;
}

.tab-pane .table-responsive {
    height: 700px;
    overflow: auto;
}

.react-datepicker__input-container {
    display: flex !important;
    align-items: center;
}

.react-datepicker__input-container svg {
    margin-right: 8px;
}

.dropdown.triple-dot button {
    background: transparent !important;
}

.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    font-size: 13px;
}

.input-group>.form-select {
    padding: .375rem 1.25rem .375rem .35rem;
    background-position: right .25rem center;
}

.text-danger {
    font-size: 12px;
}

.add-btn svg {
    color: var(--main-color);
}

.share-ico {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    font-size: 15px;
}

.cstm-height .employee-list {
    height: 190px;
}

.dashboard-body {
    height: 100vh;
}

.description-bx {
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
}

.description-bx h5 {
    font-size: 15px;
    font-weight: 400;
    color: #A7A49A;
}

.description-bx p {
    font-size: 17px;
    color: #36342E;
}

.tab-content .tab-pane .row>* {
    padding-right: 15px;
    padding-left: 15px !important;
}



/* ########## Responsive ########## */

@media(min-width:1401px) {

    .dash-left {
        width: 80px;
    }

    .dash-right {
        width: calc(100% - 80px);
        margin-left: 80px !important;
    }

    .header-section {
        width: calc(100% - 80px);
    }

    .status-bx2 h5 {
        font-size: 13px;
    }

    .status-bx2 h3 {
        font-size: 24px;
    }

    .performance-dashboard .cstm-wdth {
        width: 36px;
    }

    .performance-dashboard .status-bx2 h3 {
        font-size: 20px;
    }

    .performance-dashboard .status-bx2 h5 {
        font-size: 12px;
    }

    .status-bx h5 {
        font-size: 14px;
    }

    .status-bx h3 {
        font-size: 28px;
    }


}

@media(min-width:1200px) and (max-width: 1400px) {
    .dash-left {
        width: 65px;
    }

    .header-section {
        width: calc(100% - 65px);
    }

    .dash-right {
        width: calc(100% - 65px);
        margin-left: 65px !important;
    }

    .off-side-nav {
        padding: 0px 10px;
    }

    .off-right-wrapper {
        padding: 15px;
        margin-top: 0;
    }

    .activity-title {
        font-size: 16px;
    }

    .status-bx2 h5 {
        font-size: 12px;
    }

    .status-bx2 h3 {
        font-size: 20px;
    }

    .cstm-wdth {
        width: 36px;
    }

    .performance-dashboard .status-bx2 {
        padding: 8px;
    }

    .performance-dashboard .status-bx2 h5 {
        font-size: 11px;
    }

    .performance-dashboard .status-bx2 h3 {
        font-size: 16px;
    }

    .performance-dashboard .cstm-wdth {
        width: 30px;
    }

    .performance-dashboard .percent {
        font-size: 12px;
    }

    .performance-dashboard .percent img {
        width: 18px;
    }

    .status-bx h3 {
        font-size: 22px;
    }

    .status-bx h5 {
        font-size: 13px;
    }

    .status-bx .cstm-wdth {
        width: 36px;
    }

    .custom-btn {
        width: 26px;
        height: 26px;
        top: 11px;
    }

    .custom-btn svg {
        font-size: 14px;
    }

    .employee-list li h3 {
        font-size: 18px;
        line-height: 26px;
    }

    .cate-bx {
        padding: 10px;
    }

    .cate-bx ul li {
        font-size: 14px;
    }

    .description-bx p {
        font-size: 16px;
    }

    .upr-content-right {
        width: 70%;
    }

    .drop-nav .form-select {
        padding: .375rem 1.25rem .375rem .75rem;
        -moz-padding-start: calc(0.75rem - 6px);
        background-position: right .25rem center;
        width: 122px;
    }

}

@media (max-width: 1199.98px) {
    .dash-left {
        width: 65px;
    }

    .dash-right {
        width: calc(100% - 65px);
        margin-left: 65px !important;
    }

    .header-section {
        width: calc(100% - 65px);
    }

    .deals-card h3 {
        font-size: 14px;
    }

    .tags-list li {
        font-size: 14px;
    }

    .off-side-nav {
        width: 230px;
        padding: 0px;
    }

    .off-right-wrapper {
        width: calc(100% - 230px);
        margin-left: 240px;
    }

    .side-nav-list li .side-link {
        margin-bottom: 4px;
        font-size: 15px;
        padding: 4px;
        border-radius: 6px;
    }

    .off-right-wrapper {
        padding: 12px;
        margin-top: 0;
    }

    .activity-title {
        font-size: 16px;
    }

    .activity-box {
        display: block;
    }

    .select-container {
        width: 100%;
        margin: 8px 0;
    }

    .focus-box {
        display: block;
        padding: 10px;
    }

    .activityF-icons {
        margin: 0 0 8px;
        width: 38px;
        height: 38px;
    }

    .focus-list {
        width: 100%;
    }

    .focus-wrapper {
        padding-left: 0;
    }

    .right-nav-content-right,
    .right-nav-content-left {
        flex-wrap: wrap;
    }

    .status-bx2 {
        width: 32.33%;
    }

    .overview-body canvas {
        height: 320px !important;
    }

    .employee-list li .emp-img {
        margin-right: 8px;
    }

    .employee-list li h3 {
        font-size: 16px;
        line-height: 25px;
    }

    .employee-list li h3 span {
        font-size: 13px;
    }

    .employee-list li h4 {
        font-size: 17px;
    }

    .target-bx {
        padding: 15px;
    }

    .target-bx h4 {
        font-size: 14px;
    }

    .target-bx h2 {
        font-size: 26px;
    }

    .left-chart h5 {
        font-size: 15px;
    }

    .left-chart h3 {
        font-size: 18px;
    }

    .status-bx h3 {
        font-size: 18px;
    }

    .status-bx h5 {
        font-size: 13px;
    }

    .status-bx .cstm-wdth {
        width: 36px;
    }

    .custom-btn {
        width: 26px;
        height: 26px;
        top: 11px;
    }

    .custom-btn svg {
        font-size: 14px;
    }

    .status-bx {
        padding: 8px;
        margin-bottom: 12px;
    }

    .employee-bx {
        padding: 8px;
    }

    .employee-list li h4 {
        font-size: 15px;
    }

    .employee-list li .emp-img {
        margin-right: 6px;
    }

    .employee-list li h3 {
        font-size: 14px;
        line-height: 20px;
    }

    .lft-title.mt-5 {
        margin-top: 1rem !important;
        font-size: 16px;
    }

    .cate-bx {
        margin: 10px 0 0;
        padding: 8px;
    }

    .cate-bx ul li {
        font-size: 13px;
    }

    .lead-bx h3 {
        font-size: 27px;
    }

    .staff-info ul li {
        font-size: 14px;
    }

    .status-bx2 h3 {
        font-size: 24px;
    }

    .description-bx p {
        font-size: 15px;
    }
}


@media (max-width: 991.98px) {

    .table> :not(caption)>*>* {
        padding: .4rem;
        font-size: 14px;
    }

    .dash-right-bottom .form-check-label {
        font-size: 14px;
    }

    .table tr td a {
        font-size: 15px;
    }

    .upr-content-left {
        width: 38%;
    }

    .deals-card {
        min-height: 300px;
        max-height: 300px;
        padding: 10px;
    }

    .DealsRight-section {
        padding: 10px;
        margin-right: 0;
        width: 93%;
    }

    .off-right-wrapper {
        padding: 12px;
        margin-top: 0;
    }

    .overview-body canvas {
        height: 270px !important;
    }

    .employee-list li {
        padding: 10px 0;
        display: block;
        text-align: center;
    }

    .off-side-nav {
        width: 215px;
        padding: 0px;
    }

    .off-right-wrapper {
        width: calc(100% - 215px);
        margin-left: 225px;
    }

    .off-right-wrapper .off-tab ul li button {
        font-size: 14px;
    }

    .icons-list li {
        padding: 6px;
    }

    .accordion-button {
        font-size: 16px;
        padding: 6px 10px;
    }

    .staff-info ul li {
        width: 50%;
        font-size: 13px;
    }

    .staff-img {
        width: 90px;
        height: 90px;
        margin-right: 8px;
    }

    .staff-info {
        width: 84%;
    }

    .status-bx2 {
        width: 48.33%;
    }

    .overview-bx {
        margin-bottom: 20px;
    }
}